@import url("https://fonts.googleapis.com/css?family=Baloo|Caveat|Kaushan+Script|McLaren|Satisfy&display=swap");

* {
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  font-family: "Baloo", cursive;
}

.mainPage {
  height: 100vh;
  background: url("./svg/Main.svg") no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 60% auto;

  .text {
    color: rgba(0, 0, 0, 0.5);
    margin: auto 0 auto auto;
    font-size: 3em;
    width: 80%;

    .content {
      font-size: 0.5em;
    }
  }

  .image {
    width: 90%;
  }
}

.aboutUsPage {
  height: 100vh;
  background: url("./svg/Main2.svg") no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 60% auto;
  grid-template-rows: 10% 90%;

  .auTitle {
    color: rgba(0, 0, 0, 0.5);
    width: 200px;
    font-size: 2.5em;
    grid-column: 1 / span 2;
    opacity: 0;
    margin: auto auto 0 100px;
  }

  .auContent {
    font-size: 1.5em;
    width: 700px;
    margin: 100px auto auto 150px;
    color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    opacity: 0;

    .auButton {
      grid-row: 3;
      grid-column: 1 / span 2;
      opacity: 0;
      width: 30%;
      margin-top: 80px;

      > button {
        color: rgba(0, 0, 0, 0.5);
        border: 3px solid rgba(0, 0, 0, 0.5);
        outline: none;
        background-color: transparent;
        padding: 5px 15px;
        font-size: 1.1em;
        font-family: "Baloo", cursive;

        &:hover {
          background-color: rgba(0, 0, 0, 0.8);
          color: white;
          cursor: pointer;
        }
      }
    }
  }

  .auImage {
    margin: 50px auto auto auto;
    opacity: 0;
    width: 90%;
  }
}

.whyUsPage {
  background: url("./svg/Main3.svg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: grid;
  grid-template-columns: auto 60%;
  grid-template-rows: 10% 90%;

  .wuTitle {
    color: rgba(0, 0, 0, 0.5);
    width: 40%;
    font-size: 2.5em;
    grid-column: 1 / span 2;
    opacity: 0;
    margin: auto auto 0 100px;
  }

  .wuContent {
    width: 80%;
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    opacity: 0;
    margin: auto auto auto 150px;

    .wuButton {
      opacity: 0;
      width: 30%;
      padding-top: 80px;

      > button {
        color: rgba(0, 0, 0, 0.5);
        border: 3px solid rgba(0, 0, 0, 0.5);
        outline: none;
        background-color: transparent;
        padding: 5px 15px;
        font-size: 1.1em;
        font-family: "Baloo", cursive;

        &:hover {
          background-color: rgba(0, 0, 0, 0.8);
          color: white;
          cursor: pointer;
        }
      }
    }
  }

  .wuImage {
    opacity: 0;
    width: 90%;
    margin: auto auto auto 100px;
  }
}

.supportPage {
  background: url("./svg/Main3.svg") no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  height: 100vh;
  display: grid;
  grid-template-columns: 60% auto;
  grid-template-rows: 10% 90%;

  .sTitle {
    color: rgba(0, 0, 0, 0.5);
    width: 40%;
    font-size: 2.5em;
    grid-column: 1 / span 2;
    opacity: 0;
    margin: auto auto 0 100px;
  }

  .faqList {
    list-style-type: none;
    z-index: 5;
    width: 80%;
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    opacity: 0;
    margin: 100px auto auto 150px;

    .listItem {
      padding: 10px 0;

      .question {
        position: relative;
        letter-spacing: 0.05em;
        font-size: 1.2em;
        z-index: 123123;
        cursor: pointer;
      }
      .answer {
        opacity: 0;
        width: 60%;
        position: absolute;
      }
    }
  }

  .sImage {
    opacity: 0;
    width: 90%;
    margin: auto auto auto 0px;
  }
}

#companyName {
  display: flex;
  padding: 20px 100px;
}

.loadingImage {
  position: absolute;
  top: 40%;
  right: 50%;
  transform: translateX(50%);
}

.preload {
  justify-content: center;
  align-content: center;
  position: fixed;
  overflow: hidden;
  height: 100%;
  width: 100%;
  z-index: 12312;
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
  transition: opacity 0.5s ease;

  &.finished {
    opacity: 0;
    pointer-events: none;
  }
}

.navBar {
  position: absolute;
  top: 5%;
  width: 97%;
  list-style-type: none;
  cursor: pointer;

  .options {
    float: right;
    padding: 0 3%;
    right: 5%;
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.5);
  }
}

@media only screen and (max-width: 414px) {
  #companyName {
    width: 150px;
    margin: auto;
  }

  .mainPage {
    grid-template-columns: 100%;
    grid-template-rows: 40% 60%;

    .text {
      grid-row: 2;
      margin: auto;
      font-size: 1.8em;

      .content {
        position: relative;
        font-size: 0.7em;
      }
    }

    .image {
      grid-row: 1;
      width: 75%;
      margin: 50% auto auto auto;
    }
  }

  .aboutUsPage {
    grid-template-columns: 100%;
    grid-template-rows: 10% 40% 50%;
    .auTitle {
      margin: auto;
    }

    .auContent {
      width: 80%;
      font-size: 1em;
      margin: auto;
      grid-row: 3;
      opacity: 0;
    }

    .auImage {
      width: 90%;
      opacity: 0;
    }

    .auButton {
      opacity: 0;

      > button {
        width: 150px;
      }
    }
  }

  .whyUsPage {
    grid-template-columns: 100%;
    grid-template-rows: 10% 40% 50%;
    .wuTitle {
      grid-row: 1;
      margin: auto;
      width: 230px;
    }

    .wuContent {
      grid-row: 3;
      width: 80%;
      font-size: 1em;
      margin: auto;
      grid-row: 3;
      opacity: 0;
    }

    .wuImage {
      grid-row: 2;
      width: 80%;
      margin: auto;
      opacity: 0;
    }

    .wuButton {
      opacity: 0;

      > button {
        width: 150px;
      }
    }
  }

  .supportPage {
    grid-template-columns: 100%;
    grid-template-rows: 10% 40% 50%;

    .sTitle {
      grid-row: 1;
      margin: auto;
      width: 100px;
    }

    .faqList {
      grid-row: 2;
      width: 70%;
      margin: auto;

      .listItem {
        .question {
          margin-bottom: 7%;
          font-size: 0.9em;
        }
        .answer {
          opacity: 0;
          font-size: 0.8em;
          width: 80%;
        }
      }
    }

    .sImage {
      width: 90%;
      grid-row: 3;
      opacity: 0.2;
      margin: auto;
    }
  }
}
